template(name="questionsGroupDetails")
	.container
		.row
			.col.s12
				ul.tabs
					li.tab.col.s4
						a.active(href="#questions") {{_ "questions"}}
					li.tab.col.s4
						a(href="#users") {{_ "users"}}
					li.tab.col.s4
						a(href="#answers") {{_ "answers"}}
			#questions.col.s12
				+listQuestions
			#users.col.s12
				+scoreGraph
				+listUsers
			#answers.col.s12
				+listAnswers