ul.tabs {
    margin: 15px 0 15px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

nav,
.tabs .indicator {
    background-color: #471545;
}

.btn,
.btn-large {
    background-color: #296625;
}

.tabs .tab a,
.tabs .tab a:hover {
    color: #471545;
}
