template(name="account")
	.container
		if currentUser
			h4 {{_ "myAccount"}}
			a#logOut.waves-effect.waves-light.btn(href="#")
				i.material-icons.left person_outline
				| {{_ "logOut"}}
		else
			+connect