template(name="newQuestionsGroup")
	.container
		.card.hoverable
			.card-content
				span.card-title {{_ "newQuestionsGroup"}}
				.input-field
					label(for="title") {{_ "title"}}
					input#title.validate(type="text" required)
				.input-field
					label(for="company") {{_ "company"}}
					input#company.validate(type="text" required)
			.card-action
				a#createNewQuestionsGroup.waves-effect.waves-light.btn {{_ "validate"}}