template(name="listAnswers")
	if Template.subscriptionsReady
		a#createNewAnswer.waves-effect.waves-light.btn(href="#") {{_ "new"}}
		.row
			each answer
				.col.s12.m6.l4
					.card.hoverable
						.card-content
							span.card-title {{_ "answerNumber"}}{{myIndex @index}}
							ul
								li {{_ "level"}} : #{level}
								li {{_ "numberOfAnswers" count=questionsIdLinkedCount}}
						.card-action
							a.waves-effect.waves-light.btn(href="{{pathFor 'answerDetails'}}") {{_ "seeDetails"}}
			else
				.col.s12
					h3 {{_ "noAnswers"}}
				.col.s12
					a#addDefaultSetOfAnswers.waves-effect.waves-light.btn(href="#") {{_ "addDefaultSetOfAnswers"}}
	else
		+loader