template(name="listAnswers")
	if Template.subscriptionsReady
		h5 {{_ "levelAnswer" level=4}}
		.row
			each answerLevel4
				+answersList
			else
				.col.s12
					p {{_ "noAnswers"}}
		h5 {{_ "levelAnswer" level=3}}
		.row
			each answerLevel3
				+answersList
			else
				.col.s12
					p {{_ "noAnswers"}}
		h5 {{_ "levelAnswer" level=2}}
		.row
			each answerLevel2
				+answersList
			else
				.col.s12
					p {{_ "noAnswers"}}
		h5 {{_ "levelAnswer" level=1}}
		.row
			each answerLevel1
				+answersList
			else
				.col.s12
					p {{_ "noAnswers"}}
				.col.s12
					a#addDefaultSetOfAnswers.waves-effect.waves-light.btn(href="#") {{_ "addDefaultSetOfAnswers"}}
		.fixed-action-btn
			a#createNewAnswer.waves-effect.waves-light.btn(href="#")
				i.material-icons.left create
				| {{_ "new"}}
	else
		+loader