template(name="home")
	.container
		h1.center-align {{_ "appName"}}
		.row
			.col.s6
				p.flow-text {{_ "whatIsProjectiveIntelligence"}}
			.col.s6
				p.flow-text {{_ "concept1"}}
		if noUser
			+connect
		.row
			.col.s12
				p.flow-text {{_ "concept2"}}