template(name="listQuestions")
	a#createNewQuestion.waves-effect.waves-light.btn(href="#") {{_ "new"}}
	.row
		each question
			.col.s12.m6.l4
				.card
					.card-content
						span #{title}
						ul
							li {{_ "level"}} : #{level}
							li {{_ "numberOfQuestions" count=choicesLength}}
					.card-action
						a.waves-effect.waves-light.btn(href="{{pathFor 'questionDetails'}}") {{_ "seeDetails"}}
		else
			.col.s12
				h3 {{_ "noQuestions"}}
			.col.s12
				a#addDefaultSetOfQuestions.waves-effect.waves-light.btn(href="#") {{_ "addDefaultSetOfQuestions"}}