template(name="listUsers")
	if Template.subscriptionsReady
		.row
			each user
				.col.s6
					.card.hoverable
						.card-content
							span.card-title #{username}
							each emails
								p #{address}
							if added
								p {{_ "numberOfQuestionsAnswered" count=nbQuestionsAnswered onCount=nbQuestions}}
							else
								p {{_ "userStillNotAddedQuestionGroup"}}
			else
				h3 {{_ "noUsers"}}
	else
		+loader