template(name="signUp")
	.card.hoverable
		.card-content
			span.card-title {{_ "newUser"}}
			.input-field
				label(for="createPseudo") {{_ "pseudo"}}
				input#createPseudo.validate(type="text" required)
			.input-field
				label(for="createEmail") {{_ "email"}}
				input#createEmail.validate(type="email" required)
			.input-field
				label(for="createPassword") {{_ "password"}}
				input#createPassword.validate(type="password" required)
			.input-field
				label(for="questionnaireId") {{_ "questionnaireIdForSignUp"}}
				input#questionnaireId.validate(type="text" required)
		.card-action
			a#createAccount.waves-effect.waves-light.btn(href="#")
				i.material-icons.left person_add
				| {{_ "createAccount"}}