template(name="signIn")
	.card.hoverable
		.card-content
			span.card-title {{_ "alreadyUser"}}
			.input-field
				label(for="signInEmail") {{_ "email"}}
				input#signInEmail.validate(type="email" required)
			.input-field
				label(for="singInPassword") {{_ "password"}}
				input#singInPassword.validate(type="password" required)
		.card-action
			a#connect.waves-effect.waves-light.btn
				i.material-icons.left person
				| {{_ "connect"}}